/* CSS Document */

/* Colors  */

/* Text Color (Dark Gray): #2b2b2b; */

/* Primary Color (Dark blue): #2b4c9b; */

/* Secondary Color (Turquoise): #31AECB; */

@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
    box-sizing: border-box;
    margin: 4px;
}

:root {
    --primary-color: #36c;
    --secondary-color: #fff;
    --dark-grey: #2b2b2b;
    --body-font-size: 12pt;
    --body-font-family: 'Roboto Mono',monospace,Helvetica,sans-serif;
}

body
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

li {

    list-style-type: none;
    flex-basis: 1rem;
    flex-shrink: 1;
   
}
ul {
   padding: 0px;
   margin: 0px;
   flex-wrap:wrap;
   flex-shrink: 1;
   width: auto;
}

.header-title{
    font-weight: bold;
    color: #fff;
}
.list-group-item{
    background-color:  var(--primary-color);
    padding: 5px;
    border-style: none;
    margin: 0px;
    width: 50%;
    align-self: center;
}

.btn {
    height: 30px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
}

.btn-primary {
    font-size: 1.5rem;

    padding: 20px 32px;
    width: 200px;
    text-align: center; 
    border-style: outset;
    border-radius: 20%;
    border-color: darkblue;
    border-width: 1px;
}

#pokemonName{
    font-size: 1rem;
    height:30px;
    vertical-align: middle;
}
.searchBox{
    vertical-align: middle;
    flex: 0 1 200px;
    flex-grow: 1;
    text-align: right;
}

.searchButton{
    font-size: 1rem;
    font-family: var(--body-font-family);
    vertical-align: middle;
}

form{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.pokemon-name{
    font-size:1.2rem;
    font-weight:bold;
}

.pokemon-height{
    font-size:0.9rem;    
}


@keyframes pokemon-rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pokemonLogo{
    width: 50px;
    vertical-align: middle;
    animation: 8s pokemon-rotate infinite;
}
    
@supports (display: grid) {
    .pokemon-list {
        display: grid;
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1rem 10rem;
        }

    .pokemon-list__item {
        text-align: center;
        background-color: white;
        color: black;
        /* border-color: red; */
        width: 100px;
        margin: 0.5rem;
        padding: 1.5rem;
        flex-basis: 1rem; 
        flex-shrink: 1;
        flex-grow:1;
        line-height: 1.5;
    }
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

#modal-container {
  /*display: block;*/ 
  display: none;
}

#modal-container.is-visible {
  position: auto;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:auto;
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.height-element{
    font-weight: bold;
     line-height: 3rem;
     color: black;
}

.type-element{
    padding: 10px;
    border-style: solid;
    font-weight: bold;
    border-width: 1px;
    border-color: #777;
    vertical-align: text-bottom;
}

.type-elementTitle{
font-weight: bold;
line-height: 1px;
padding-bottom: 1rem;
}

.title-element{
font-weight: bold;
font-size: 2rem;
color: black;
}

.divType{
   text-align-last: center;
}
.modal-image{
    margin-left: 12%;
    margin-top: 0px;
}
.modal {
  color: black;
  line-height: 0.5rem;
}

/* Navbar styles*/
 
.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #231F20;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #F13E2D;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FEFEFE;
}

.st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #A09D9D;
}

.st4 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #58585A;
}

.st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #363638;
}

.navbar{
    background-color:#ffcb05;
}
